
body, html{
    
}
a {
  text-decoration: none;
  display: block;
}

.header{
    width: 70%;
    height: auto;
    margin-left: 15%;
    background-color: #222;
    margin-top: -20px;
    overflow: hidden;
}

.header .image{
    padding-top: 10px;
    width: 14%;
    float: left;
}


.header .heading{
    width: 50%;
    float: left;
}
h1{
    color:white;
    text-align: left;
    padding-top: 20px;
    width: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: auto;
  background: #fafbfc;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.logo{
    width: 175px;
    height: 100px;
    float: left;
   
}
.author {
  
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-bottom-color: #222222; 
  text-align: right;
  padding-right: 20px;
  font-style: italic;
    color: #222;
    margin-top: 15px;
}

.title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  color: forestgreen;
  font-style: italic;
}
.description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
  text-align: justify;
  padding-top: 20px;
  }

.title, .description {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition-duration: 0.3s;
}

.description:hover, .title:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 cursor: pointer;
}


